@use "@/styles/_dirs/variables" as var;

.footer {
  box-shadow: 0 -5px 10px 1px #0001;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 2em;
  }

  &__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__social {
    a {
      font-size: 1.25em;
    }
  }

  &__rights {
    p {
      text-align: center;
      color: var(--text-dark-soft);
    }
  }
}
