@use "@/styles/_dirs/variables" as var;

@mixin OnlyPc {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin Scroll {
  &::-webkit-scrollbar {
    max-width: 10px;
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: var.$brand_color_500;

    &:hover {
      background: #a7889877;
    }
  }
}
