$darkest_color: #000;
$lightest_color: #fff;

$pri_text_color: #fff;
$sec_text_color: #000;

$clr-dark-soft: #7d7d7d;
$clr-dark-normal: #252627;
$clr-dark-hard: #000;

$clr-light-soft: #b0b0b0;
$clr-light-normal: #f5f5f5;
$clr-light-hard: #fff;

// Brand colors
$brand_color_100: #eee7eb;
$brand_color_100: #f2e8e4;
$brand_color_200: #ddcfd6;
$brand_color_300: #cbb7c2;
$brand_color_400: #b99fac;
$brand_color_500: #a78898;
$brand_color_600: #957082;
$brand_color_700: #82586c;
$brand_color_800: #704158;
$brand_color_900: #5d2a42;

// Support colors
$support_color_err: #cc0014;
$support_color_rght: #00aa64;
$support_color_mesg: #657ff0;

// Neutral colors

$neutral_color_100: #ffffff;
$neutral_color_200: #e6e6e6;
$neutral_color_300: #b3b3b3;
$neutral_color_400: #999999;
$neutral_color_500: #808080;
$neutral_color_600: #4d4d4d;
$neutral_color_700: #333333;
$neutral_color_800: #1a1a1a;
$neutral_color_900: #000000;
