@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.by {
  display: flex;
  gap: 1em;

  .by_image {
    position: relative;
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  }

  .by_info {
    p {
      font-weight: bold;
    }

    time {
      color: var(--text-dark-soft);
      font-size: 0.85em;
    }
  }
}
