@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.postAuthor {
  display: flex;
  gap: 1em;

  &__thumbnail {
    align-self: center;
    position: relative;
    width: 36px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;

    img {
      background: var(--bg-dark-soft);
    }
  }

  &_info {
    line-height: 18px;

    p {
      font-weight: bold;
      font-size: 0.9em;
    }

    time {
      color: var(--text-dark-soft);
      font-size: 0.8em;
    }
  }
}
