@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.link {
  display: inline-block;
  padding: 1em 1.5em;
  border-radius: 0.25em;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;

  &.v1 {
    background: var(--bg-light-hard);
    border-color: var(--bg-dark-normal);
    color: var(--text-dark-normal);

    @include mix.OnlyPc {
      &:hover {
        background: var(--bg-dark-normal);
        color: var(--text-light-hard);
      }
    }
  }

  &.v2 {
    background: var(--bg-dark-normal);
    border-color: var(--text-light-hard);
    color: var(--text-light-normal);

    @include mix.OnlyPc {
      &:hover {
        background: var(--bg-light-hard);
        color: var(--text-dark-normal);
      }
    }
  }
}
