@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.contact {
  padding: 7em 2em;

  &_container {
    display: flex;
    justify-content: center;
    gap: 3em;
    min-height: 500px;

    @media (max-width: 1020px) {
      justify-content: center;
    }
  }
}
