@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 0em 2em;
  color: var(--text-light-hard);

  &_wallpaper {
    position: absolute;
    inset: 0;
    filter: brightness(0.6);
    pointer-events: none;
    z-index: -1;

    img {
      background: var(--clr-pri-normal);
    }
  }

  &_title {
    padding: 7em 0;

    h1,
    p {
      transform: translate(0, 50px);
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }

    h1 {
      font-family: var(--font-playfair), serif;
      font-size: calc(1.5rem + 4vw);
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    p {
      text-align: center;
      font-size: 1.05rem;
    }
  }
}
