@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.hero {
  display: flex;
  align-items: flex-end;
  position: relative;
  min-height: 100vh;
  padding: 0em 2em;
  color: var(--text-light-hard);
  background: var(--bg-dark-normal);
  overflow: hidden;

  &_wallpaper {
    position: absolute;
    inset: 0;
    filter: brightness(0.6);
    pointer-events: none;
    z-index: 1;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    transform: scale(1.3);
  }

  &_title {
    position: relative;
    padding: 7em 0;
    z-index: 2;

    h1,
    p {
      transform: translate(0, 50px);
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }

    h1 {
      font-family: var(--font-sora), serif;
      font-size: clamp(1.5rem, 1.5rem + 4vw, 8rem);
      font-weight: normal;
      letter-spacing: 0.075em;
      margin-left: -10px;
    }

    p {
      font-size: 1.05rem;
    }
  }
}
