@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

@keyframes shadowEffect {
  0%,
  88% {
    color: #fff;
  }
  100% {
    color: var.$brand-color-500;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 0 2em;
  color: #fff;

  &_wallpaper {
    position: absolute;
    inset: 0;
    filter: brightness(0.6);
    pointer-events: none;
    z-index: -1;
  }

  &_title {
    h1 {
      font-size: calc(1.5em + 2vw);
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;

      span {
        display: inline-block;
        animation: shadowEffect 4s ease-in-out infinite alternate;

        &:not(:first-child) {
          margin-left: 0.25em;
        }
      }

      @for $i from 1 through 9 {
        span:nth-child(#{$i}) {
          animation-delay: calc((($i - 1)) * 2s / 12);
        }
      }
    }

    p {
      text-align: center;
    }
  }
}
