@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

@keyframes infiniteSlide {
  to {
    transform: translateX(calc(-100% - var(--slider-gap)));
  }
}

.services {
  padding: 5em 0em;
  user-select: none;
  position: relative;
  z-index: 3;

  &_container {
    --slider-gap: 2em;
    display: flex;
    gap: var(--slider-gap);

    @include mix.OnlyPc {
      &:hover > .services_slider {
        animation-play-state: paused;
      }
    }
  }

  &_slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--slider-gap);
    animation: 20s linear infinite infiniteSlide;
  }

  .service {
    display: flex;
    align-items: center;
    position: relative;

    &_break {
      font-size: 3.5rem;
      margin-left: calc(1.5rem);
      pointer-events: none;
    }

    &_wrapper {
      position: relative;

      > p {
        display: flex;
        align-items: center;
        font-size: 3.5em;
        font-family: var(--font-sora);
        color: var(--text-dark-normal);
      }

      &.active {
        .service_image {
          visibility: visible;
          opacity: 1;
        }
      }

      .service_image {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 200px;
        height: 150px;
        top: 0;
        left: 0;
        z-index: 5;
        pointer-events: none;
        transition: visibility 0.15s ease-in-out, opacity 0.15s ease-in-out,
          transform 0.1s ease-in-out;
      }
    }
  }
}
