@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.works {
  background: var(--clr-pri-soft);
  padding: 7em 2em;

  &_container {
    width: 100%;
  }

  &_photos {
    columns: 250px;
    column-gap: 1em;
    width: 100%;

    .work {
      break-inside: avoid;
      width: 100%;

      &_image {
        margin-bottom: 1em;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          background: var(--bg-light-soft);
        }
      }
    }
  }
}
