@use "@/styles/_dirs/variables" as var;

.loading {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid var.$neutral_color_900;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 0.5s ease-in-out infinite spin;

  @keyframes spin {
    0%,
    30% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
