@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.header {
  color: #fff;
  width: 100%;
  padding: 1em 2em;
  position: fixed;
  z-index: 99;
  transition: border-bottom 0.1s ease-in-out, backgroud 0.15s ease-in-out,
    color 0.15s ease-in-out;
  border-bottom: 1px solid transparent;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
  }

  &_wrapper {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }

  &_logo {
    z-index: 99;
  }

  &_navigation {
    display: flex;
    align-items: center;
    gap: 3em;

    @media (max-width: 900px) {
      display: none;
    }

    .navigation_links {
      display: flex;
      align-items: center;
      gap: 3em;

      a {
        transition: transform 0.15s ease-in-out;

        @include mix.OnlyPc {
          &:hover {
            transform: translate3d(0, -3px, 0);
          }
        }
      }
    }

    .navigation_action {
      svg {
        display: block;
        font-size: 1.3em;
      }
    }
  }

  &_menu {
    display: none;
    position: relative;
    width: 32px;
    height: 24px;
    cursor: pointer;

    @media (max-width: 900px) {
      display: block;
    }

    .trace {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: var.$neutral_color_100;
      transition: transform .15s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: calc((25px / 2) - (2px / 2));
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  &:not(.onTop) {
    background: var.$neutral_color_100;
    color: #000;
    border-bottom-color: #0002;

    .header_menu {
      .trace {
        background: var.$neutral_color_900;
      }
    }
  }

  &.out_domain {
    color: #000;

    .header_menu{
      .trace{
        background: var.$neutral_color_900;
      }
    }
  }

  &.opened {
    color: #000;

    .header_menu{
      display: none;
    }
  }
}
