@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.menu {
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 98;
  transition: background 0.15s ease-in-out, visibility 0.15s ease-in-out;

  &_container {
    max-width: 500px;
    width: 0;
    height: 100%;
    background: var.$neutral_color_100;

    transition: width 0.15s ease-in-out;
  }

  &.opened {
    visibility: visible;
    background: #0002;

    .menu_container {
      width: 100%;
    }
  }
}
