@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.menu_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--text-dark-normal);

  .menu {
    height: 100%;
    background: var(--neutral-color-100);
    padding-top: 4em;

    &_header {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 13px;
      right: 15px;

      button {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;

        svg {
          display: block;
          font-size: 2.5em;
          transition: transform 0.25s ease-in-out;
        }

        @include mix.OnlyPc {
          &:hover {
            svg {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    &_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2em;
      width: 100%;
      height: 100%;
      padding: 1em;
      overflow: auto;
    }

    &_navigation {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50px, 120px));
      justify-content: space-evenly;

      .navigation_link {
        a {
          aspect-ratio: 1/1;
          padding: 1em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
          border-radius: 0.5em;
          transition: gap 0.25s ease-in-out, padding 0.25s ease-in-out,
            background 0.25s ease-in-out, color 0.25s ease-in-out;

          svg {
            font-size: 1.3em;
            transition: color 0.25s ease-in-out;
          }

          @include mix.OnlyPc {
            &:hover {
              gap: 1em;
              padding: calc(1em - (0.5em / 2)) 1em;
              background: var(--clr-pri-soft);
              color: var(--clr-pri-hard);

              svg {
                color: var(--clr-pri-hard);
              }
            }
          }
        }
      }
    }

    &_footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5em;

      .footer_media {
        svg {
          color: var(--text-dark-normal);
        }
      }

      .footer_rights {
        p {
          color: var(--text-dark-soft);
          align-items: center;
        }
      }
    }
  }
}
