@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.posts {
  padding: 7em 2em;

  &_title {
    h1 {
      text-align: center;
    }
  }

  &_post {
    columns: 300px;
    column-gap: 1em;
    margin-top: 2em;

    > *:not(:first-child) {
      margin-top: 1em;
    }
  }
}
