@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.card {
  display: block;
  width: 100%;
  background: var(--bg-light-hard);
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 2px 2px #0001;
  transition: filter 0.15s ease-in-out;

  &_image {
    width: 100%;
    aspect-ratio: 16/12;
    position: relative;
    overflow: hidden;
    background: var(--clr-pri-normal);

    img {
      display: block;
      transition: transform 0.2s ease-in-out;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;

    .info_views {
      display: flex;
      gap: 1em;

      .views_eye,
      .views_message {
        display: flex;
        align-items: center;
        gap: 0.25em;
        color: var(--text-dark-soft);

        p {
          font-size: 0.9em;
        }
      }

      .views_eye {
        svg {
          font-size: 1.2em;
        }
      }
    }
  }

  .info_middle {
    .middle_title {
      h2 {
        font-size: 1.1em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .middle_time {
      p {
        font-size: 0.9em;
        color: var(--text-dark-soft);
      }
    }
  }

  &.column {
    .card_image {
      aspect-ratio: auto;
      background: transparent;

      img {
        width: 100%;
        height: 100%;
        max-height: 400px;

        object-fit: cover;
        object-position: center;
      }
    }
  }

  &:hover {
    filter: brightness(0.95);

    .card_image {
      img {
        transform: scale(1.05);
      }
    }
  }
}
